<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <title>Civilization 5 Ultimate Bravery</title>
  <link rel="stylesheet" href="static/normalize.css" />
  <link rel="stylesheet" href="static/foundation.min.css" />
  <link rel="stylesheet" type="text/css" href="static/main.css">
</head>

<body>
  <div class="row">
    <div class="small-12 small-centered columns" id="civ-logo">
      <img id="civ-logo" src="static/images/Civilization_V_logo.png" onclick="location.reload()"/>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered columns" id="civ-logo-base">
      <img id="civ-logo-base" src="static/images/Civilization_V_logo_base.png"/>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 small-12 small-centered columns" id="title-box">
      <div>Civilization 5 Ultimate Bravery</div>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 small-12 small-centered columns" id="main-box">
      <div class="row">
        <div class="small-11 small-centered columns">
          <div class="row inside-box-title">
            <div>Civilization:</div>
          </div>
          <div class="row inside-box" id="civ-box">
            <div class="small-4 columns">
              <img src="static/images/{{ civ.name|lower }}_civ.png"/>
              <img src="static/images/{{ civ.name|lower }}_leader.png"/>
            </div>
            <div class="small-8 columns">
              <div class="row inside-title">
                <div class="small-12 columns">
                  <div>{{ civ.name }} - {{ civ.leader }}</div>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <div>{{ civ.ability_name }}: {{ civ.ability_desc }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row inside-box-title">
            <div>Victory Type:</div>
          </div>
          <div class="row inside-box" id="victory-box">
            <div class="small-4 columns">
              <img src="static/images/{{ victory.image }}"/>
            </div>
            <div class="small-8 columns">
              <div class="row inside-title">
                <div class="small-12 columns">
                  <div>{{ victory.name }}</div>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <div>{{ victory.vic_desc }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row inside-box-title">
            <div>Religion:</div>
          </div>
          {% include 'religion.html' %}
          <div class="row inside-box-title">
            <div>First Completed Policy:</div>
          </div>
          <div class="row inside-box" id="policy-box">
            <div class="small-12 columns">
              <div class="row inside-title">
                <div class="small-12 columns">
                  <div>{{ policy_tree.name }}</div>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <div>{{ policy_tree.pol_desc }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row inside-box-title">
            <div>Ideology:</div>
          </div>
          <div class="row inside-box" id="ideology-box">
            <div class="small-12 columns">
              <div class="row inside-title">
                <div class="small-12 columns">
                  <div>{{ ideology.name }}</div>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <div>{{ ideology.ide_desc }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 small-12 small-centered columns" id="bottom-box">
    </div>
  </div>
  <script>
    function refreshReligion() {
      xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
          document.getElementById("religion-box").outerHTML=xmlhttp.responseText;
        }
      }
      xmlhttp.open("GET", "/?section=religion", true);
      xmlhttp.send();
    }
  </script>
</body>
</html>
