<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <title>Civilization 5 Ultimate Bravery</title>
  <link rel="stylesheet" href="../foundation/css/normalize.css" />
  <link rel="stylesheet" href="../foundation/css/foundation.min.css" />
  <script src="../foundation/js/vendor/modernizr.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>


<body>
  <div class="row">
    <div class="small-12 small-centered columns" id="top-image">
      <img src="Civilization_V_logo.png"/>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 small-12 small-centered columns" id="title-box">
      <div>Civilization 5 Ultimate Bravery</div>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 small-12 small-centered columns" id="main-box">
      <div class="row">
        <div class="small-11 small-centered columns">
          <div class="row inside-box-title">
            <div>Civilization:</div>
          </div>
          <div class="row inside-box" id="civ-box">
            <div class="small-4 columns">
              {{ civ.civ_image }}
              {{ civ.leader_image }}
            </div>
            <div class="small-8 columns">
              <div class="row inside-title">
                <div class="small-12 columns">
                  <div>{{ civ.name }} - {{ civ.leader }}</div>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <div>{{ civ.ability_name }}: {{ civ.ability_desc }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row inside-box-title">
            <div>Victory Type:</div>
          </div>
          <div class="row inside-box" id="victory-box">
            <div class="small-4 columns">
              {{ civ.civ_image }}
            </div>
            <div class="small-8 columns">
              <div class="row inside-title">
                <div class="small-12 columns">
                  <div>{{ victory.name }}</div>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <div>{{ victory.desc }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row inside-box-title">
            <div>Religion:</div>
          </div>
          <div class="row inside-box" id="religion-box">
            <div class="small-12 columns">
              <div class="row inside-title">
                <div class="small-11 columns">
                  <div>{{ religion.name }}</div>
                </div>
                <div class="small-1 columns" id="religion-refresh-button" onclick="refreshReligion()">
                  <div>↻</div>
                </div>
              </div>
              <div class="row belief">
                <div class="small-12 columns">
                  <div>Pantheon Belief: {{ pantheon.name }}</div>
                  <div>{{ pantheon.desc }}</div>
                </div>
              </div>
              <div class="row belief">
                <div class="small-12 columns">
                  <div>Founder Belief: {{ founder.name }}</div>
                  <div>{{ founder.desc }}</div>
                </div>
              </div>
              <div class="row belief">
                <div class="small-12 columns">
                  <div>First Follower Belief: {{ follower1.name }}</div>
                  <div>{{ follower1.desc }}</div>
                </div>
              </div>
              <div class="row belief">
                <div class="small-12 columns">
                  <div>Second Follower Belief: {{ follower2.name }}</div>
                  <div>{{ follower2.desc }}</div>
                </div>
              </div>
              <div class="row belief">
                <div class="small-12 columns">
                  <div>Enhancer Belief: {{ enhancer.name }}</div>
                  <div>{{ enhancer.desc }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row inside-box-title">
            <div>First Completed Policy:</div>
          </div>
          <div class="row inside-box" id="policy-box">
            <div class="small-12 columns">
              <div class="row inside-title">
                <div class="small-12 columns">
                  <div>{{ policy_tree.name }}</div>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <div>{{ policy_tree.desc }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row inside-box-title">
            <div>Ideology:</div>
          </div>
          <div class="row inside-box" id="ideology-box">
            <div class="small-12 columns">
              <div class="row inside-title">
                <div class="small-12 columns">
                  <div>{{ ideology.name }}</div>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <div>{{ ideology.desc }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 small-12 small-centered columns" id="bottom-box">
    </div>
  </div>

  <script src="../foundation/js/vendor/jquery.js"></script>
  <script src="../foundation/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
    function refreshReligion() {
      xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        alert('state ' + xmlhttp.readyState + ' status ' + xmlhttp.status);
        if (xmlhttp.readyState == 4 && xmlhttp.status == 0) {
          alert(xmlhttp.responseText);
          document.getElementById("religion-box").outerHTML=xmlhttp.responseText;
        }
      }
      xmlhttp.open("GET", "index.cgi?section=religion", true);
      xmlhttp.send();
    }
  </script>
</body>
</html>