<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Civilization 5 Ultimate Bravery</title>
  <link rel="stylesheet" href="../foundation/css/normalize.css" />
  <link rel="stylesheet" href="../foundation/css/foundation.min.css" />
  <script src="../foundation/js/vendor/modernizr.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div class="row">
    <div id="title" class="small-9 small-centered columns">
      <h1>Civilization 5 Ultimate Bravery</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-centered columns">
      <h2>Civilization</h2>
        <table>
          <tbody>
            <tr>
              <td>{{ civ.civ_image }}</td>
              <td>{{ civ.leader_image }}</td>
            </tr>
          </tbody>
        </table>
        <p>{{ civ.leader }}, leader of {{ civ.name }} - {{ civ.ability_name }}: {{ civ.ability_desc }}</p>
      <h2>Victory</h2>
      <p>{{ victory.name }} - {{ victory.desc }}</p>
      <h2>Pantheon Belief</h2>
      <p>{{ pantheon.name }} - {{ pantheon.desc }}</p>
      <h2>Founder Belief</h2>
      <p>{{ founder.name }} - {{ founder.desc }}</p>
      <h2>First Follower Belief</h2>
      <p>{{ follower1.name }} - {{ follower1.desc }}</p>
      <h2>Second Follower Belief</h2>
      <p>{{ follower2.name }} - {{ follower2.desc }}</p>
      <h2>Enhancer Belief</h2>
      <p>{{ enhancer.name }} - {{ enhancer.desc }}</p>
      <h2>First Completed Policy Tree</h2>
      <p>{{ policy_tree.name }} - {{ policy_tree.desc }}</p>
      <h2>Ideology</h2>
      <p>{{ ideology.name }} - {{ ideology.desc }}</p>
    </div>
  </div>
  <script src="../foundation/js/vendor/jquery.js"></script>
  <script src="../foundation/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>