<div class="row inside-box" id="religion-box">
  <div class="small-12 columns">
    <div class="row inside-title">
      <div class="small-11 columns">
        <div>{{ religion.name }}</div>
      </div>
      <div class="small-1 columns" id="religion-refresh-button" title="Refresh religious beliefs" onclick="refreshReligion()">
        <div>&#10227;</div>
      </div>
    </div>
    <div class="row belief">
      <div class="small-12 columns">
        <div>Pantheon Belief: {{ pantheon.name }}</div>
        <div>{{ pantheon.desc }}</div>
      </div>
    </div>
    <div class="row belief">
      <div class="small-12 columns">
        <div>Founder Belief: {{ founder.name }}</div>
        <div>{{ founder.desc }}</div>
      </div>
    </div>
    <div class="row belief">
      <div class="small-12 columns">
        <div>First Follower Belief: {{ follower1.name }}</div>
        <div>{{ follower1.desc }}</div>
      </div>
    </div>
    <div class="row belief">
      <div class="small-12 columns">
        <div>Second Follower Belief: {{ follower2.name }}</div>
        <div>{{ follower2.desc }}</div>
      </div>
    </div>
    <div class="row belief">
      <div class="small-12 columns">
        <div>Enhancer Belief: {{ enhancer.name }}</div>
        <div>{{ enhancer.desc }}</div>
      </div>
    </div>
  </div>
</div>